@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
@import "tw-animate-css";

* {
  box-sizing: border-box;
}

html {
  background: linear-gradient(165deg, #004551, #026080);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

@theme {
  --breakpoint-xxl: 81.85rem;
}

.marker-tooltip.leaflet-tooltip {
  background-color: #004551;
  border-color: white;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 6px 8px;
  border-radius: 12px;
}

.leaflet-tooltip::before {
  display: none !important;
}
